@font-face {
	font-family: "DINpro";
	src: url("./DINPro-Light-tr.woff") format("woff");
}

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	background: #29C53B;
}

header {
	margin: 0;
	width: 100%;
	background: linear-gradient(to bottom, #00B7CC, #29C53B);
}

header img {
	width: 20em;
	padding: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#button-container {
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

section #welcome-title {
	width: 100%;
	flex-grow: 0;
	text-align: center;
	font-family: DINpro;
	color: white;
	font-weight: bold;
	padding: .5em;
	background: linear-gradient(to right, #C4015C, #FE0E27);
	margin: 0;
	border-bottom: 2px solid white;
}

button#go-swagger-button {
	display: inline-block;
	border-radius: 4px;
	background-color: #FE0E27;
	border: none;
	color: #FFFFFF;
	font-family: DINpro;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 255px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

button#go-swagger-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

button#go-swagger-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

button#go-swagger-button:hover span {
	padding-right: 25px;
}

button#go-swagger-button:hover span:after {
	opacity: 1;
	right: 0;
}