/* GENERIC STYLE */
* {
	box-sizing: border-box;
}

@page{
    margin:0pt;
}

body {
	margin: 0;
}

header {
	margin: 0;
	width: 100%;
}
header img {
	width: 100%;
	padding: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
section {
	background: white;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
	border-radius: 0 0 30px 30px;
	box-shadow: 0 0 10px black;
}
figure{
    position: relative;
    margin: 0;
    box-shadow: rgb(70, 66, 66) 2px 4px 2px;
}
figure figcaption{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33px;
    background-color: rgba(70, 66, 66, 0.7);

    padding-top: 0.3em;
    padding-left: 0.3em;
}
section h2 {
	width: 100%;
	text-align: center;
	font-family: DINpro;
	color: white;
	font-weight: bold;
	padding: .5em;
	background-color: #FE0E27;
	margin: 0;
	border-bottom: 2px solid white;
}

/* SHOPPING LIST STYLE */
#shopping-list>li {
	list-style: none;
	width: 95%;
}
#shopping-list>li img {
	width : 4em;
}
#shopping-list>li span {
	font-family: Montserrat;
	margin-left: 2em;
}

/* RECIPIES STYLE */

.ingredients-list>li {
	list-style: none;
	width: 95%;
}
.ingredients-list>li img {
	width : 4em;
}
.ingredients-list>li span {
	font-family: Montserrat;
	margin-left: 2em;
	margin-top: 1.5em;
}
section.recipe-head {
	background: white;
	width: 100%;
	padding-bottom: 0;
	border-radius: 0;
	box-shadow: none;
	margin-top: 2em;
}
section.recipe-head>img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 25em;
	padding: 0;
}
section.recipe-head figcaption>.recipe-name-span {
	width: 65%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section.recipe-head figcaption>span {
	display: inline-block;
	margin-right: 2em;
}
section.recipe-head figcaption>img{
    width: 1em;
}
section p {
	padding: .5em;
	background-color: #4a5b4f;
	color: white;
	font-family: DINpro;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 2em;
}
section h3 {
	width: 100%;
	text-align: center;
	font-family: DINpro;
	color: white;
	font-weight: bold;
	padding: .3em;
	background-color: #FE0E27;
	margin: 0;
	font-size: .9em;
	border-bottom: 2px solid white;
}
.instructions-list>li {
	padding: 1em;
	width: 95%;
	border-top: 2px solid #C9C9C9;
}
.instructions-list>li:before {
	font-size: 2em;
	color: #C9C9C9;
}
.instructions-list>li span {
	font-family: Montserrat;
	margin-left: 2em;
	margin-top: .6em;
	width: 90%;
}
